@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import "tailwindcss";

/* Default Colors + Font */
:root {
  --background: #171717;
  --foreground: #ffffff;
  --primary: #2347fa;
  --light: #d1d5dc;
  --font-main: "Sora", sans-serif;
}

/* Dark Mode Override */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

/* Tailwind Theme Mapping */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-light: var(--light-color);
}

/* Global body style */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Sora", sans-serif;
}
